<section class="programs">
  <div class="container">
    <h3 class="programs__title">Our Programs</h3>

    <div class="">
      <ul class="programs__choose">
        <li class="programs__item list">
          <img
            class="programs__image"
            src="./images/programs/img_progr1@2x.jpg"
            alt=""
            width="320"
            srcset="
              ./images/programs/img_progr1@1x.jpg 1x,
              ./images/programs/img_progr1@2x.jpg 2x
            "
          />

          <div class="programs__description">
            <h3 class="programs__name">Individuals</h3>
            <p class="programs__content">
              Undervalued and underpaid? Let's change that. Our
              career-development program, Fulfilled, is here to provide you with
              the resources and tools you need to not only go for a
              higher-paying job, but secure it. We believe it’s already yours.
            </p>
            <button class="programs__button">Reimagine Now</button>
          </div>
        </li>
        <li class="programs__item programs__item--second list">
          <img
            class="programs__image"
            src="./images/programs/img_progr2@2x.jpg"
            alt=""
            width="320"
            srcset="
              ./images/programs/img_progr2@1x.jpg 1x,
              ./images/programs/img_progr2@2x.jpg 2x
            "
          />

          <div class="programs__description">
            <h3 class="programs__name">Employers</h3>
            <p class="programs__content">
              Through our Fulfilled Work Framework, we advise employers on how
              to better position employees of color to unlock their potential
              and take ownership of their careers while increasing retention
              rates all around.
            </p>
            <button class="programs__button programs__button--second">
              Learn More
            </button>
          </div>
        </li>
        <li class="programs__item list">
          <img
            class="programs__image"
            src="./images/programs/img_progr3@2x.jpg"
            alt=""
            width="320"
            srcset="
              ./images/programs/img_progr3@1x.jpg 1x,
              ./images/programs/img_progr3@2x.jpg 2x
            "
          />

          <div class="programs__description">
            <h3 class="programs__name">Leaders</h3>
            <p class="programs__content">
              We coach leaders, business owners, and influencers on how to
              maximize their value, unleash their power, and grow their success.
              From where we’re looking, there’s no glass ceiling.
            </p>
            <button class="programs__button">Explore More</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
