<header class="header">
  <div class="container">
    <div class="logo1">
      <a href="./index.html" class="logo page-header__logo"
        ><img src="./images/logo/logo1@1x.png" alt="" />
        <img src="./images/logo/logo2@1x.png" alt=""
      /></a>
    </div>

    <nav class="main-nav">
      <ul class="main-nav__list list">
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link">HOME</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link">ABOUT</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link">WORK WITH US</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link">CLIENT WINS</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link link">EMPLOYERS</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
